/*
.......
PARTICLE STYLES
.......
*/


/* SCROLLBAR STYLES */
::-webkit-scrollbar {
    width: 8px; /* for vertical scrollbars */
    height: 8px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    border: rgba(255, 255, 255, 0.1) solid 1px;
    background-color: rgba(0, 0, 0, 0.4)
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5)
}

/* SHADOWS */
/* regular shadow */
.shadow {
    box-shadow: 0 6px 10px -6px rgba(0, 0, 0, 0.3);
}
/* small subtle card shadow */
.card_shadow {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12);
}
/* large page shadow */
.page_shadow {
    box-shadow: 0 10px 22px -11px rgba(0, 0, 0, 0.6);
}
/* medium content block shadow */
.box_shadow {
    box-shadow: 0 2px 5px 1px rgba(0,0,0,0.07);
}




/******************* ANIMATIONS ********************/
.hov_slide_up:hover {
    transform: translateY(-4px);
}

.hov_sm_grow:hover {
    transform: scale(1.08);
}

.hov_grow:hover {
    transform: scale(1.02, 1.02);
}

.hov_mid_grow:hover {
    transform: scale(1.2);
}

.hov_big_grow:hover {
    transform: scale(1.4, 1.4);
}

.hov_underline:hover {
    box-shadow: inset 0 -5px 0 0 rgba(225, 225, 225, 0.7);
}

.hov_underline_md:hover {
    box-shadow: inset 0 -2px 0 0 rgba(225, 225, 225, 0.7);
}

.hov_slide_right, .hov_slide_up {
    transition:0.2s ease all;
}

.hov_slide_right:hover {
    transform:translateX(10px);
}

/* .HOV_BG - show background only on hover */
.hov_bg {
    transition:0.2s background-color ease;
}
.hov_bg:not(:hover), .hov_bg:disabled:hover {
    background:none;
    color:inherit;
}

/* .GLOW - LIGHTEN ON HOVER */
.hov_glow:hover {
    box-shadow: inset 0 0 0 100px rgba(255,255,255,0.15);
}
.hov_glow:active {
    box-shadow: none;
}

/* .DARKEN - DARKEN ON HOVER */
.hov_darken:hover {
    box-shadow: inset 0 0 0 100px rgba(0,0,0,0.05);
}
.hov_darken:active {
    box-shadow: none;
}
/******************* END ANIMATIONS ***********************/

/* OPACITY CLASSES */
.opacity_10 { opacity:0.1; }
.opacity_20 { opacity:0.2; }
.opacity_30 { opacity:0.3; }
.opacity_40 { opacity:0.4; }
.opacity_50 { opacity:0.5; }
.opacity_60 { opacity:0.6; }
.opacity_70 { opacity:0.7; }
.opacity_80 { opacity:0.8; }
.opacity_90 { opacity:0.9; }
.opacity_100 { opacity:1.0; }

button.accordion {
    color: #FFF;
    cursor: pointer;
    font-family: monospace;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 14px;
    font-weight:bold;
    margin:0;
    background-color:#346273;
    height:30px;

}

/* TOOLTIP STYLES FOR 'particle_toolip' COMPONENT */
.particle_tooltip {
    min-width: 75px;
    max-width: 200px;
    background-color: #2f2f2f;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 3px 5px;
    font-size:12px;
    line-height:1.5;
    position: absolute;
    z-index: 4;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
    animation-name: fadeInTooltip;
    animation-duration: 0.4s;
}
@keyframes fadeInTooltip {
    0%   {opacity:0;}
    100% {opacity:1;}
}
.particle_tooltip.top {
    transform-origin:bottom center;
}
.particle_tooltip.top::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #2f2f2f transparent transparent transparent;
}
.particle_tooltip.bottom {
    transform-origin:top center;
}
.particle_tooltip.bottom::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #2f2f2f transparent;
}
.particle_tooltip.left {
    transform-origin:right center;
}
.particle_tooltip.left::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #2f2f2f;
}
.particle_tooltip.right {
    transform-origin:left center;
}
.particle_tooltip.right::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #2f2f2f transparent transparent;
}

/* LINK STYLES FOR 'richtext' COMPONENT */

.rich-text-link {
    font-weight:700;
    text-decoration:underline;
    color: inherit;
}
