/*
.......
PARTICLE STYLES
.......
*/

/* NAVBAR ACCESSIBILITY */
.menu_access {
    text-decoration: none;
}

.menu_access:focus {
    background-color: rgba(255, 255, 255, 0.2);
}

/* SIMPLE 100% */
.height100 {
    height: 100%;
}

.width100 {
    width: 100%;
}

/* ROWS */
.row_block {
    display: block;
}

.row {
    display: flex;
    flex: 1;
    -ms-flex:1 1 100%;
}

.row.column {
    flex-direction: column;
}

/* COLUMNS */
.col {
    display: flex;
    flex: 0 1 auto;
}

.col.column {
    flex-direction: column;
}

/* COLUMN SIZING BASED ON FLEX VALUES */
.col.size_1 {
    flex: 1;
    -ms-flex: 1 1 auto;
}

.col.size_2 {
    flex: 2;
    -ms-flex: 2 1 auto;
}

.col.size_3 {
    flex: 3;
    -ms-flex: 3 1 auto;
}

.col.size_4 {
    flex: 4;
    -ms-flex: 4 1 auto;
}

.col.size_5 {
    flex: 5;
    -ms-flex: 5 1 auto;
}

.col.size_6 {
    flex: 6;
    -ms-flex: 6 1 auto;
}

.col.size_7 {
    flex: 7;
    -ms-flex: 7 1 auto;
}

.col.size_8 {
    flex: 8;
    -ms-flex: 8 1 auto;
}

.col.size_9 {
    flex: 9;
    -ms-flex: 9 1 auto;
}

.col.size_10 {
    flex: 10;
    -ms-flex: 10 1 auto;
}




/* BASIC TEXT ALIGNMENTS */
.text_center {
    text-align: center;
}

.text_left {
    text-align: left;
}

.text_right {
    text-align: right;
}

/* COMPLEX TEXT ELEMENTS */
.text {
    font-weight:400;
}

.text.paragraph {
    line-height: 150%;
}

.text.lighter {
    font-weight: 100;
}

.text.light {
    font-weight: 200;
}

.text.bold {
    font-weight: 500;
}

.text.bolder {
    font-weight: 600;
}

.text.faded {
    opacity:0.8;
}

.text.left {
    text-align: left;
}

.text.center {
    text-align: center;
}

.text.right {
    text-align: right;
}

.text.justify {
    text-align: justify;
}

.text.underline {
    text-decoration:underline;
}

.text.italic {
    font-style:italic;
}

.text.xsm {
    font-size: 10px;
}

.text.sm {
    font-size: 12px;
}

.text.md {
    font-size: 14px;
}

.text.lg {
    font-size: 16px;
}

.text.xlg {
    font-size: 18px;
}

.text.caps {
    text-transform: capitalize;
}

.text.uppercase {
    text-transform: uppercase;
}

/* TEXT OVERFLOW CLASSES */
.text_nowrap {
    white-space: nowrap;
}

.text_wrap {
    white-space:normal;
}

.overflow_hide
{
    text-overflow:ellipsis;
    overflow: hidden;
    white-space:nowrap;
}


/* NO OVERFLOW WITH ELLIPSIS */
.text_ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

p {
    margin:0;
}

/* fix image width in paragraph elements */
p img {
    max-width: 100%;
}

/* LIST ITEMS WITH TOP/BOTTOM BORDERS */
.list .list_item {
    border-width:0 0 1px 0;
}
.list .list_item:last-child {
    border-width:0;
}

/* LIST ITEMS WITH ALTERNATING BACKGROUND COLORS - ODD */
.bg_everyodd > * {
    background-color:rgba(128,128,128,0.05);
}
.bg_everyodd > :nth-child(even) {
    background:none !important;
}
/* alternative if list items are components */
.bg_everyodd_component > * > div {
    background-color:rgba(128,128,128,0.05);
}
.bg_everyodd_component > :nth-child(even) > div {
    background:none !important;
}

/* LIST ITEMS WITH ALTERNATING BACKGROUND COLORS - EVEN */
.bg_everyeven > * {
    background-color:rgba(128,128,128,0.05);
}
.bg_everyeven > :nth-child(odd) {
    background:none !important;
}
/* alternative if list items are components */
.bg_everyeven_component > * > div {
    background-color:rgba(128,128,128,0.05);
}
.bg_everyeven_component > :nth-child(odd) > div {
    background:none !important;
}

/* SCROLLING */
.scroll_y {
    overflow-y: scroll;
    overflow-x: hidden;
}

.scroll_yauto {
    overflow-y: auto;
    overflow-x: hidden;
}

.scroll_x {
    overflow-x: scroll;
    overflow-y: hidden;
}

.scroll_xauto {
    overflow-x: auto;
    overflow-y: hidden;
}

.scroll_xy {
    overflow-x: scroll;
    overflow-y: scroll;
}

.scroll_xyauto {
    overflow-x: auto;
    overflow-y: auto;
}
.no_scroll, .no_overflow {
    overflow:hidden !important;
}

/* TODO: to remove, old */
.scroll_none {
    overflow:hidden !important;
}


/* WRAPPING */
.wrap {
    flex-wrap: wrap;
}

.wrap_reverse {
    flex-wrap: wrap-reverse;
}

.nowrap {
    flex-wrap: nowrap;
}

/* FLEX ALIGNMENTS */
.top_center {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.top_left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.top_right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.center_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center_left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.center_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.bottom_left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.bottom_center {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.bottom_right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.space_between {
    display: flex;
    justify-content: space-between;
}

.space_around {
    display: flex;
    justify-content: space-around;
}

.space_evenly {
    display: flex;
    justify-content: space-evenly;
}

.v_center {
    display: flex;
    align-items: center;
}

.h_center {
    display: flex;
    justify-content: center;
}

/* RESPONSIVE HEADERS */
.header {
    outline: none;
    font-weight:500;
    opacity:0.9;
    transition: all 0.3s ease-in-out;
}

.header.paragraph {
    line-height:1.5;
}

/* center header */
.header.center {
    text-align: center;
}

.header.xsm {
    font-size: 20px;
}

.header.sm {
    font-size: 24px;
}

.header.md {
    font-size: 28px;
}

.header.lg {
    font-size: 32px;
}

.header.xlg {
    font-size: 36px;
}

.header.lighter {
    font-weight: 200;
}

.header.light {
    font-weight: 300;
}

.header.bold {
    font-weight: 600;
}

.header.bolder {
    font-weight: 700;
}

/** HORIZONTAL RULES THAT ARE COMPATIBLE WITH THEMES **/
.hr {
    border-width:0 0 1px 0 !important;
    border-style:solid;
}

.hr_light {
    border-width:0 0 1px 0 !important;
    border-style:solid;
    border-color:rgba(255,255,255,0.2);
}

/** VERTICAL RULES THAT ARE COMPATIBLE WITH THEMES **/
.vr {
    border-width:0 1px 0 0 !important;
    border-style:solid;
}

.vr_light {
    border-width:0 1px 0 0 !important;
    border-style:solid;
    border-color:rgba(255,255,255,0.2);
}

/* RELATIVE AND ABSOLUTE POSITIONING */
.position_relative {
    position:relative;
}

.position_absolute {
    position:absolute;
}


/* TOOLTIP STYLES FOR 'particle_toolip' COMPONENT */
.particle_tooltip {
    min-width: 75px;
    max-width: 200px;
    background-color: #2f2f2f;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 3px 5px;
    font-size:12px;
    line-height:1.5;
    position: absolute;
    z-index: 4;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
    animation-name: fadeInTooltip;
    animation-duration: 0.4s;
}
@keyframes fadeInTooltip {
    0%   {opacity:0;}
    100% {opacity:1;}
}
.particle_tooltip.top {
    transform-origin:bottom center;
}
.particle_tooltip.top::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #2f2f2f transparent transparent transparent;
}
.particle_tooltip.bottom {
    transform-origin:top center;
}
.particle_tooltip.bottom::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #2f2f2f transparent;
}
.particle_tooltip.left {
    transform-origin:right center;
}
.particle_tooltip.left::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #2f2f2f;
}
.particle_tooltip.right {
    transform-origin:left center;
}
.particle_tooltip.right::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #2f2f2f transparent transparent;
}
