/*
.......
PARTICLE STYLES
.......
*/

/* OVERALL APPLICATION FRAMEWORK */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  display: flex;
}
header{
  display:block;
}
main {
  flex: auto;
}
footer {
  display: block;
  align-items: unset;
  min-height: unset;
}


/* AUTHORING STRUCTURE ONLY */
.site {
  position:fixed; /* so 100% height works correctly in ios safari */
  height:100%;
  display: flex;
  flex:1;
  flex-direction: column;
  /* stretch to fill screen */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* div holding main content under nav */
.site-content {
  display:flex;
  flex:1;
  flex-direction:column;
  overflow-y:scroll;
  overflow-x:hidden;
}
